.sessaoEstrutura{
    height: 100%;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
   background-color: #ffd726b1 ;
   padding: 10px;
}

.conteudoSessao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.conteudoSessaoImg{
    height: 200px;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    transition: 0.5s;
}


.conteudoSessao img:hover{
    height: 250px;
    transition: 0.5s;
}
.conteudoSessao:hover{
    height: 300px;
    z-index: 1;
    cursor: pointer;
    transition: 0.5s;
}

@media (max-width:800px) {
    .sessaoEstrutura img{
        width: 300px;
    }
    .sessaoEstrutura{
        width: 400px;
    }

    .conteudoSessao{
        flex-direction: column-reverse;
        height: 550px;
        border-bottom: 2px solid rgb(29, 2, 150);
        align-items: center;
        text-align: center;
        
    }

    .conteudoSessaoImg{
    flex-direction: column;
     
      height: 430px;
    }
}