.container{
    display: flex;
    overflow: hidden;
   
}

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    
}

.ladoEsquerdo{
    width: 65%;
    height: 100vh;
    
}

.card{
    height: 100vh;
    width: 100%;
    background-image: url(../../imagens/missao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter:grayscale(0.8);
    transition: 0.3s;
    cursor: pointer;
}

.cardImage{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardImage::before{
    content: "";
    position: absolute;
    height: 150px;
    width: 200px;
    display: block;
    border: 2px solid white;
    opacity: 0;
    transition: 0.5s;
    border-radius: 20px;
}

.cardImage h1{
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    text-transform: uppercase;
    transition: 0.3s;
}

.card:hover{
    filter:none;
}

.card:hover > .cardImage::before{
    height: 300px;
    width: 600px;
    opacity: 1;
    
}

.card:hover > .cardImage h1 {
    opacity: 1;
    visibility: visible;
    font-size: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.423);
    transition: 0.8s;
}

.ladoDireito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.formItens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btnAluno{
    border: 2px solid rgb(50, 4, 255);
    background-color: transparent;
    color: #1900ff;
    border-radius: 10px;
    cursor: pointer;
}

.btnAluno:hover{
    border: 2px solid rgb(253, 252, 255);
    color: #ffffff;
    font-weight: bold;
    background-color: rgb(0, 17, 255);
}

@media (max-width:800px){
    .container{
        height: 100vh;
        width: 100%;
        background-image: url(../../imagens/missao.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: default;
    }

    .ladoEsquerdo{
       display: none;
    }


    .ladoDireito{
        background-color: rgb(255, 255, 255);
        width: 400px;
        height: 500px;
    }

    

}