.navBar{
    min-height: 10vh;
    background-color: #174EE8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
}

.navBar img{
    height: 50px;
}

.navMenu{
    display: flex;
    gap: 10px;
    list-style: none;
}

.navMenu a{
    text-decoration: none;
    margin-right: 5px;
    color: rgb(255, 255, 255);
    position: relative;
}


.hoverBorder::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    transition: 0.4s ease-in-out ;
    transform: scaleX(0);
}

.hoverBorder:hover:before{
    visibility: visible;
    transform: scaleX(1);
}

.hoverBorder:hover{
    color: #FFD826;
    transition: 0.4s;
}


.botaoReciclavel{
    border: 2px solid white;
    background-color: transparent;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}
.botaoReciclavel:hover{
    border: 2px solid rgb(255, 255, 255);
    color: #174EE8;
    font-weight: bold;
    background-color: white;

}

/* hamburguer */
.navToggle div{
    width: 32px;
    height: 2px;
    margin: 8px;
    background-color: white;
}

.navToggle{
    cursor: pointer;
    display: none;
}

@media screen and (max-width:768px) {
    .navToggle{
        display: block;
    }
    .navMenu{
        position: fixed;
        align-items: center;
        z-index: 2;
        top: 10vh;
        right: 0;
        width: 100%;
        height: 180px;
        background-color: #174EE8;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
    
}

.navActive{
    transform: translateX(0%);
    
}

.toggle .trace1{
    transform: rotate(-45deg) translate(-4px, 6px);
}
.toggle .trace2{
    opacity: 0;
}
.toggle .trace3{
    transform: rotate(45deg) translate(-7px, -10px);
}
