.pre_matricula{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.form_matricula_container{
    margin-top: 50px;
}

.form_matricula{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 20px;
}

.form_matricula input{
    outline: none;
    padding: 0 5px;
}